{% extends "base.html" %}

{% block content %}
    <h1>Create topic</h1>
    <form id="1" method="POST" action="" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=30) }}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description(size=120) }}
        </p>
        <p>{{ form.submit() }}</p><button form="1" type="reset"><a href="{{ url_for('routes.topics') }}">Cancel</a></button>
    </form>
{% endblock %}
