runs:
  using: composite
  steps:
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Cache Docker layers
      uses: actions/cache@v3
      with:
        path: /tmp/.buildx-cache
        key: buildx-${{ runner.os }}-${{ github.ref_name }}-${{ github.sha }}
        restore-keys: |
          buildx-${{ runner.os }}-${{ github.ref_name }}
          buildx-${{ runner.os }}-${{ github.event.repository.default_branch }}
